In [27]:
import  pandas  as  pd
import os
import requests
import matplotlib.pyplot as plt
import geopandas as gpd
import pyproj
import datetime
from geopandas import GeoDataFrame as gdf
from shapely.geometry import Point
from shapely.geometry import Polygon
import json
import sys
sys.path.append('/Users/alenastern/Documents/Spring2018/Machine_Learning/evictions-learn/src/data/census')
import scraper as sp
%matplotlib inline

In [20]:
state_list = ['18', '17', '26', '39', '55', '10', '11', '12', '13', '24', '37', '45', '51', '54']
df = pd.read_table('national_county.txt', sep = ',', converters={'01': lambda x: str(x), '001': lambda x: str(x)})
df = df[df['01'].isin(state_list)]

In [21]:
df['county'] = df['01'] + df['001']

In [50]:
len(df)

1026

In [22]:
acs_results_2016 = requests.get('https://api.census.gov/data/2016/acs/acs5?get=NAME,B15002_001E,B15003_022E,B15003_023E,B15003_024E,B15003_025E,B25010_001E&for=block%20group:*&in=state:10%20county:001&key=91aa6a44edb890abeea862f2d9befb5d520a5cc4')
data = acs_results_2016.text
total_df = pd.read_json(data)
errors = []


# Query ACS Data from Census API
for i in range(1, len(df)):
    acs_results_2016 = requests.get('https://api.census.gov/data/2016/acs/acs5?get=NAME,B15002_001E,B15003_022E,B15003_023E,B15003_024E,B15003_025E,B25010_001E&for=block%20group:*&in=state:{}%20county:{}&key=91aa6a44edb890abeea862f2d9befb5d520a5cc4'.format(df.iloc[i,1], df.iloc[i,2]))
    print(df.iloc[i,1], df.iloc[i,2])
    if acs_results_2016.status_code != 204:
        data = acs_results_2016.text
        acs_df = pd.read_json(data)
        total_df = pd.concat([total_df, acs_df])
    else:
        errors.append([df.iloc[i,1], df.iloc[i,2]])

10 003
10 005
11 001
12 001
12 003
12 005
12 007
12 009
12 011
12 013
12 015
12 017
12 019
12 021
12 023
12 027
12 029
12 031
12 033
12 035
12 037
12 039
12 041
12 043
12 045
12 047
12 049
12 051
12 053
12 055
12 057
12 059
12 061
12 063
12 065
12 067
12 069
12 071
12 073
12 075
12 077
12 079
12 081
12 083
12 085
12 086
12 087
12 089
12 091
12 093
12 095
12 097
12 099
12 101
12 103
12 105
12 107
12 109
12 111
12 113
12 115
12 117
12 119
12 121
12 123
12 125
12 127
12 129
12 131
12 133
13 001
13 003
13 005
13 007
13 009
13 011
13 013
13 015
13 017
13 019
13 021
13 023
13 025
13 027
13 029
13 031
13 033
13 035
13 037
13 039
13 043
13 045
13 047
13 049
13 051
13 053
13 055
13 057
13 059
13 061
13 063
13 065
13 067
13 069
13 071
13 073
13 075
13 077
13 079
13 081
13 083
13 085
13 087
13 089
13 091
13 093
13 095
13 097
13 099
13 101
13 103
13 105
13 107
13 109
13 111
13 113
13 115
13 117
13 119
13 121
13 123
13 125
13 127
13 129
13 131
13 133
13 135
13 137
13 139
13 141
13 143
13 145
13 147
13 149
13 151
13 153
13 155
13 157
13 159
13 161
13 163
13 165
13 167
13 169
13 171
13 173
13 175
13 177
13 179
13 181
13 183
13 185
13 187
13 189
13 191
13 193
13 195
13 197
13 199
13 201
13 205
13 207
13 209
13 211
13 213
13 215
13 217
13 219
13 221
13 223
13 225
13 227
13 229
13 231
13 233
13 235
13 237
13 239
13 241
13 243
13 245
13 247
13 249
13 251
13 253
13 255
13 257
13 259
13 261
13 263
13 265
13 267
13 269
13 271
13 273
13 275
13 277
13 279
13 281
13 283
13 285
13 287
13 289
13 291
13 293
13 295
13 297
13 299
13 301
13 303
13 305
13 307
13 309
13 311
13 313
13 315
13 317
13 319
13 321
17 001
17 003
17 005
17 007
17 009
17 011
17 013
17 015
17 017
17 019
17 021
17 023
17 025
17 027
17 029
17 031
17 033
17 035
17 037
17 039
17 041
17 043
17 045
17 047
17 049
17 051
17 053
17 055
17 057
17 059
17 061
17 063
17 065
17 067
17 069
17 071
17 073
17 075
17 077
17 079
17 081
17 083
17 085
17 087
17 089
17 091
17 093
17 095
17 097
17 099
17 101
17 103
17 105
17 107
17 109
17 111
17 113
17 115
17 117
17 119
17 121
17 123
17 125
17 127
17 129
17 131
17 133
17 135
17 137
17 139
17 141
17 143
17 145
17 147
17 149
17 151
17 153
17 155
17 157
17 159
17 161
17 163
17 165
17 167
17 169
17 171
17 173
17 175
17 177
17 179
17 181
17 183
17 185
17 187
17 189
17 191
17 193
17 195
17 197
17 199
17 201
17 203
18 001
18 003
18 005
18 007
18 009
18 011
18 013
18 015
18 017
18 019
18 021
18 023
18 025
18 027
18 029
18 031
18 033
18 035
18 037
18 039
18 041
18 043
18 045
18 047
18 049
18 051
18 053
18 055
18 057
18 059
18 061
18 063
18 065
18 067
18 069
18 071
18 073
18 075
18 077
18 079
18 081
18 083
18 085
18 087
18 089
18 091
18 093
18 095
18 097
18 099
18 101
18 103
18 105
18 107
18 109
18 111
18 113
18 115
18 117
18 119
18 121
18 123
18 125
18 127
18 129
18 131
18 133
18 135
18 137
18 139
18 141
18 143
18 145
18 147
18 149
18 151
18 153
18 155
18 157
18 159
18 161
18 163
18 165
18 167
18 169
18 171
18 173
18 175
18 177
18 179
18 181
18 183
24 001
24 003
24 005
24 009
24 011
24 013
24 015
24 017
24 019
24 021
24 023
24 025
24 027
24 029
24 031
24 033
24 035
24 037
24 039
24 041
24 043
24 045
24 047
24 510
26 001
26 003
26 005
26 007
26 009
26 011
26 013
26 015
26 017
26 019
26 021
26 023
26 025
26 027
26 029
26 031
26 033
26 035
26 037
26 039
26 041
26 043
26 045
26 047
26 049
26 051
26 053
26 055
26 057
26 059
26 061
26 063
26 065
26 067
26 069
26 071
26 073
26 075
26 077
26 079
26 081
26 083
26 085
26 087
26 089
26 091
26 093
26 095
26 097
26 099
26 101
26 103
26 105
26 107
26 109
26 111
26 113
26 115
26 117
26 119
26 121
26 123
26 125
26 127
26 129
26 131
26 133
26 135
26 137
26 139
26 141
26 143
26 145
26 147
26 149
26 151
26 153
26 155
26 157
26 159
26 161
26 163
26 165
37 001
37 003
37 005
37 007
37 009
37 011
37 013
37 015
37 017
37 019
37 021
37 023
37 025
37 027
37 029
37 031
37 033
37 035
37 037
37 039
37 041
37 043
37 045
37 047
37 049
37 051
37 053
37 055
37 057
37 059
37 061
37 063
37 065
37 067
37 069
37 071
37 073
37 075
37 077
37 079
37 081
37 083
37 085
37 087
37 089
37 091
37 093
37 095
37 097
37 099
37 101
37 103
37 105
37 107
37 109
37 111
37 113
37 115
37 117
37 119
37 121
37 123
37 125
37 127
37 129
37 131
37 133
37 135
37 137
37 139
37 141
37 143
37 145
37 147
37 149
37 151
37 153
37 155
37 157
37 159
37 161
37 163
37 165
37 167
37 169
37 171
37 173
37 175
37 177
37 179
37 181
37 183
37 185
37 187
37 189
37 191
37 193
37 195
37 197
37 199
39 001
39 003
39 005
39 007
39 009
39 011
39 013
39 015
39 017
39 019
39 021
39 023
39 025
39 027
39 029
39 031
39 033
39 035
39 037
39 039
39 041
39 043
39 045
39 047
39 049
39 051
39 053
39 055
39 057
39 059
39 061
39 063
39 065
39 067
39 069
39 071
39 073
39 075
39 077
39 079
39 081
39 083
39 085
39 087
39 089
39 091
39 093
39 095
39 097
39 099
39 101
39 103
39 105
39 107
39 109
39 111
39 113
39 115
39 117
39 119
39 121
39 123
39 125
39 127
39 129
39 131
39 133
39 135
39 137
39 139
39 141
39 143
39 145
39 147
39 149
39 151
39 153
39 155
39 157
39 159
39 161
39 163
39 165
39 167
39 169
39 171
39 173
39 175
45 001
45 003
45 005
45 007
45 009
45 011
45 013
45 015
45 017
45 019
45 021
45 023
45 025
45 027
45 029
45 031
45 033
45 035
45 037
45 039
45 041
45 043
45 045
45 047
45 049
45 051
45 053
45 055
45 057
45 059
45 061
45 063
45 065
45 067
45 069
45 071
45 073
45 075
45 077
45 079
45 081
45 083
45 085
45 087
45 089
45 091
51 001
51 003
51 005
51 007
51 009
51 011
51 013
51 015
51 017
51 019
51 021
51 023
51 025
51 027
51 029
51 031
51 033
51 035
51 036
51 037
51 041
51 043
51 045
51 047
51 049
51 051
51 053
51 057
51 059
51 061
51 063
51 065
51 067
51 069
51 071
51 073
51 075
51 077
51 079
51 081
51 083
51 085
51 087
51 089
51 091
51 093
51 095
51 097
51 099
51 101
51 103
51 105
51 107
51 109
51 111
51 113
51 115
51 117
51 119
51 121
51 125
51 127
51 131
51 133
51 135
51 137
51 139
51 141
51 143
51 145
51 147
51 149
51 153
51 155
51 157
51 159
51 161
51 163
51 165
51 167
51 169
51 171
51 173
51 175
51 177
51 179
51 181
51 183
51 185
51 187
51 191
51 193
51 195
51 197
51 199
51 510
51 515
51 520
51 530
51 540
51 550
51 570
51 580
51 590
51 595
51 600
51 610
51 620
51 630
51 640
51 650
51 660
51 670
51 678
51 680
51 683
51 685
51 690
51 700
51 710
51 720
51 730
51 735
51 740
51 750
51 760
51 770
51 775
51 790
51 800
51 810
51 820
51 830
51 840
54 001
54 003
54 005
54 007
54 009
54 011
54 013
54 015
54 017
54 019
54 021
54 023
54 025
54 027
54 029
54 031
54 033
54 035
54 037
54 039
54 041
54 043
54 045
54 047
54 049
54 051
54 053
54 055
54 057
54 059
54 061
54 063
54 065
54 067
54 069
54 071
54 073
54 075
54 077
54 079
54 081
54 083
54 085
54 087
54 089
54 091
54 093
54 095
54 097
54 099
54 101
54 103
54 105
54 107
54 109
55 001
55 003
55 005
55 007
55 009
55 011
55 013
55 015
55 017
55 019
55 021
55 023
55 025
55 027
55 029
55 031
55 033
55 035
55 037
55 039
55 041
55 043
55 045
55 047
55 049
55 051
55 053
55 055
55 057
55 059
55 061
55 063
55 065
55 067
55 069
55 071
55 073
55 075
55 077
55 078
55 079
55 081
55 083
55 085
55 087
55 089
55 091
55 093
55 095
55 097
55 099
55 101
55 103
55 105
55 107
55 109
55 111
55 113
55 115
55 117
55 119
55 121
55 123
55 125
55 127
55 129
55 131
55 133
55 135
55 137
55 139
55 141

In [23]:
errors

[['51', '515']]

# Scraping Building Permit Data

In [28]:
ul = sp.scrape_links('https://www2.census.gov/econ/bps/County/', [])

In [29]:
permits = sp.url_to_pd(ul)

In [30]:
permits.columns

Index(['Survey', 'FIPS', 'FIPS.1', 'Region', 'Division', 'County',
       'Unnamed: 6', '1-unit', 'Unnamed: 8', 'Unnamed: 9', '2-units',
       'Unnamed: 11', 'Unnamed: 12', '3-4 units', 'Unnamed: 14', 'Unnamed: 15',
       '5+ units', 'Unnamed: 17', 'Unnamed: 18', '1-unit rep', 'Unnamed: 20',
       'Unnamed: 21', '2-units rep', 'Unnamed: 23', 'Unnamed: 24',
       '3-4 units rep', 'Unnamed: 26', 'Unnamed: 27', ' 5+units rep'],
      dtype='object')

In [39]:
permits.iloc[4]

index                                      2000
Survey                                       01
FIPS                                        007
FIPS.1                                        3
Region                                        6
Division         Bibb County
County                                        4
Unnamed: 6                                    4
1-unit                                   310000
Unnamed: 8                                    0
Unnamed: 9                                    0
2-units                                       0
Unnamed: 11                                   0
Unnamed: 12                                   0
3-4 units                                     0
Unnamed: 14                                   0
Unnamed: 15                                   0
5+ units                                      0
Unnamed: 17                                   4
Unnamed: 18                                   4
1-unit rep                               310000
Unnamed: 20                                   0
Unnamed: 21                                   0
2-units rep                                   0
Unnamed: 23                                   0
Unnamed: 24                                   0
3-4 units rep                                 0
Unnamed: 26                                   0
Unnamed: 27                                   0
 5+units rep                                  0
Name: 4, dtype: object

In [ ]:
permits = permits.reset_index()

In [97]:
permits.shape

(54505, 21)

In [98]:
permits = permits[permits.duplicated() == False]

In [101]:
permits.head()

,year,state,county,region,division,name,bldg_1,units_1,value_1,bldg_2,...,value_2,bldg_3,units_3,value_3-4,bldg_5,units_5,value_5,total_bldg,total_units,total_value
1,2000,01,001,3,6,Autauga County,181.0,181.0,9854805.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,181.0,181.0,9854805.0
2,2000,01,003,3,6,Baldwin County,1841.0,1841.0,237144524.0,12.0,...,1818631.0,0.0,0.0,0.0,10.0,607.0,71423749.0,1863.0,2472.0,310386904.0
3,2000,01,005,3,6,Barbour County,27.0,27.0,2721322.0,0.0,...,0.0,0.0,0.0,0.0,1.0,40.0,1514892.0,28.0,67.0,4236214.0
4,2000,01,007,3,6,Bibb County,4.0,4.0,310000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,310000.0
5,2000,01,009,3,6,Blount County,59.0,59.0,8547016.0,0.0,...,0.0,0.0,0.0,0.0,1.0,12.0,523800.0,60.0,71.0,9070816.0

In [51]:
permits.rename(index=str, columns={"index": "year", "Survey": "state", "FIPS": "county", "FIPS.1": "region",
                             "Region": "division", "Division": "name", "County": "bldg_1", "Unnamed: 6": "units_1",
                             "1-unit": "value_1", "Unnamed: 8": "bldg_2", "Unnamed: 9": "units_2", "2-units": "value_2",
                              "Unnamed: 11": "bldg_3", "Unnamed: 12": "units_3", "3-4 units": "value_3-4",
                              "Unnamed: 14": "bldg_5", "Unnamed: 15": "units_5", "5+ units": "value_5"}, inplace = True)

In [44]:
permits.drop(['Unnamed: 17', 'Unnamed: 18', '1-unit rep', 'Unnamed: 20',
       'Unnamed: 21', '2-units rep', 'Unnamed: 23', 'Unnamed: 24',
       '3-4 units rep', 'Unnamed: 26', 'Unnamed: 27', ' 5+units rep'], axis=1, inplace = True)

In [56]:
permits.drop('0', axis = 0, inplace = True)

In [74]:
permits.head()

,year,state,county,region,division,name,bldg_1,units_1,value_1,bldg_2,...,value_2,bldg_3,units_3,value_3-4,bldg_5,units_5,value_5,total_bldg,total_units,total_value
1,2000,01,001,3,6,Autauga County,181,181,9854805,0,...,0,0,0,0,0,0,0,181000,181000,9854805000
2,2000,01,003,3,6,Baldwin County,1841,1841,237144524,12,...,1818631,0,0,0,10,607,71423749,184112010,1841240607,2371445241818631071423749
3,2000,01,005,3,6,Barbour County,27,27,2721322,0,...,0,0,0,0,1,40,1514892,27001,270040,2721322001514892
4,2000,01,007,3,6,Bibb County,4,4,310000,0,...,0,0,0,0,0,0,0,4000,4000,310000000
5,2000,01,009,3,6,Blount County,59,59,8547016,0,...,0,0,0,0,1,12,523800,59001,590012,854701600523800

In [77]:
cols = ['bldg_1', 'units_1', 'value_1', 'bldg_2', 'units_2', 'value_2', 'bldg_3', 'units_3', 'value_3-4',
       'bldg_5', 'units_5', 'value_5']

permits[cols] = permits[cols].apply(pd.to_numeric, errors='coerce')


permits['total_bldg'] = permits['bldg_1'] + permits['bldg_2'] + permits['bldg_3'] + permits['bldg_5'] 
permits['total_units'] = permits['units_1'] + permits['units_2'] + permits['units_3'] + permits['units_5']
permits['total_value'] = permits['value_1'] + permits['value_2'] + permits['value_3-4'] + permits['value_5']

In [102]:
permits_div = permits[(permits['division'] == '3') | (permits['division'] == '5')]

In [79]:
permits_div.iloc[4]

year                                     2000
state                                      12
county                                    001
region                                      3
division                                    5
name           Alachua County
bldg_1                                   1072
units_1                                  1072
value_1                           1.13188e+08
bldg_2                                      5
units_2                                    10
value_2                                287970
bldg_3                                     15
units_3                                    60
value_3-4                          4.3782e+06
bldg_5                                     65
units_5                                   831
value_5                           4.67198e+07
total_bldg                               1157
total_units                              1973
total_value                       1.64574e+08
Name: 309, dtype: object

In [103]:
permits_total = permits_div[['year', 'state', 'county', 'region', 'division', 'total_bldg', 'total_units', 'total_value']]

In [104]:
permits_total.head()

     year state county region division  total_bldg  total_units  total_value
305  2000    10    001      3        5       854.0        858.0   75130874.0
306  2000    10    003      3        5      1699.0       2331.0  164781826.0
307  2000    10    005      3        5      1422.0       1422.0  174176014.0
308  2000    11    001      3        5       201.0        806.0   53992642.0
309  2000    12    001      3        5      1157.0       1973.0  164573829.0

In [105]:
permits_total['geo_id'] = permits['state'] + permits['county']

/Users/alenastern/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [106]:
permits_total.total_units = permits_total.total_units.astype(int)
permits_total.total_bldg = permits_total.total_bldg.astype(int)

/Users/alenastern/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [107]:
permits_total.head()

,year,state,county,region,division,total_bldg,total_units,total_value,geo_id
305,2000,10,001,3,5,854,858,75130874.0,10001
306,2000,10,003,3,5,1699,2331,164781826.0,10003
307,2000,10,005,3,5,1422,1422,174176014.0,10005
308,2000,11,001,3,5,201,806,53992642.0,11001
309,2000,12,001,3,5,1157,1973,164573829.0,12001

In [117]:
permits_total = permits_total[permits_total.duplicated()==False]

In [118]:
permits_total.to_csv('permits.csv', index = False)

In [ ]:

# Clean ACS data frame and rename columns# Clean  
variables = {'B15002_001E': "total_pop_over25", 'B15003_022E': "bachelors", 'B15003_023E': "masters", 'B15003_024E': "professional", 'B15003_024E': "doctorate"
            'B25010_001E': "avg_hh_size"}
acs_df.columns = acs_df.iloc[0]
acs_df.drop([0], inplace = True)
acs_df.rename(columns = variables, inplace=True)